body {
    background-color: #FFFFD0;
    width: 80%;
    margin: auto;
}
#header {
    width: 100%;
    min-height: 50px;
    background-color: #0060f0;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: white;
}
#menu {
    width: 100%;
    background-color: #0030f0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}
#menu a:hover {
    background-color: #0080f0; 
}
#menu a {
    color: white;
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    border: 2px solid black;
    background-color: #0010a0; 
}
.autor {
    width: 20%;
    background-color: #DFDFFF;
}
.contain {
    width: 80%;
    background-color: #FFFFFF;
}
.login {
    color: #0010a0;
    text-decoration: none;
}
.login:hover {
    color: #FFC125;
}
#content {
    width: 100%;
    background-color: #FFFFFF;
}
#footer {
    width: 100%;
    background-color: #0080f0;
    margin-top: 5px;
    text-align: center;
}
/*.footer {
    color: white;
    font-size: 16px;
    font-family: 'Courier-New';
}*/
#text {
    width: 100%;
}